<template>
    <div class="container">
    <div class="ui grid sem">
    <div class="four wide column"></div>
    <div class="eight wide column">       
        <div class="ui segments" style="top: 20px; margin-bottom: 20px">
            <div class="ui segment">
                <h4 class="ui header">Marketing Engines Appointment Application</h4>
            </div>
            <div class="ui secondary segment">
                <form id="signupForm" method="POST" action="/store" class="ui grid form" style="padding: 10px" novalidate="novalidate"
                 @submit.prevent="onSubmit">                

                    <div class="row field">
                        <label class="six wide column" for="name">Your name</label>
                        <div class="eight wide column">
                            <div class="ui input">
                                <input id="name" name="name" type="text" placeholder="Your Name"
                                v-model="name"
                                v-validate="'required'"
                                >                                
                            </div>
                            <span v-show="errors.has('name')" class="is-danger">{{ errors.first('name') }}</span>
                        </div>
                    </div>
                    <div class="row field">
                        <label class="six wide column" for="email">Email</label>
                        <div class="eight wide column">
                            <div class="ui input">
                                <input id="email" name="email" type="email" placeholder="Email"
                                v-model="email"
                                v-validate="'required'"
                                >
                            </div>
                            <span v-show="errors.has('email')" class="is-danger">{{ errors.first('email') }}</span>
                        </div>
                    </div>
                    <div class="row field">
                        <label class="six wide column" for="phone">Phone</label>
                        <div class="eight wide column">
                            <div class="ui input">                                
                                <input id="phone" name="phone"
                                type="text" v-mask="'###-###-####'" 
                                v-model="phone"
                                v-validate="'required'"
                                >                                
                            </div>
                            <span v-show="errors.has('phone')" class="is-danger">{{ errors.first('phone') }}</span>
                        </div>
                    </div>
                    <div class="row field">
                        <label class="six wide column" for="appointmentDate">Appointment Date</label>
                        <div class="eight wide column">
                            <div class="ui">                                
                                <datepicker class="eight wide column" v-model="appointmentDate"
                                format="MM/dd/yyyy"
                                v-validate="'required'"
                                ></datepicker>
                            </div>
                            <span v-show="errors.has('appointmentDate')" class="is-danger">{{ errors.first('appointmentDate') }}</span>
                        </div>
                    </div>                    
                    <div class="row field">
                        <label class="six wide column" for="appointmentTime">Appointment Time</label>
                        <div class="eight wide column">
                            <div class="ui input">                                
                                <vue-timepicker 
                                id="time"
                                class="eight wide" :minute-interval="10" v-model="appointmentTime" format="hh:mm A"
                                v-validate="'required'"
                                ></vue-timepicker>
                            </div>
                            <span v-show="errors.has('appointmentTime')" class="is-danger">{{ errors.first('appointmentTime') }}</span>
                        </div>
                    </div>                   
                    <div class="row">
                        <label class="six wide column"></label>
                        <div class="eight wide column">
                            <button type="submit" class="ui primary button">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="four wide column"></div>
    </div>
</div>
</template>

<script>

    //importing packages
    import Datepicker from 'vuejs-datepicker';
    import VueTimepicker from 'vue2-timepicker'

    // class Errors {
    //     constructor() {
    //         this.errors = {};
    //     }
    //     get(field) {
    //         if(this.errors[field]) {
    //             return this.errors[field];
    //         }
    //     }
    //     record(errors) {
    //         this.errors = errors;
    //     }
    // }
    export default {
        mounted() {
            
        },
        data() {
            return {
                name:'',
                email:'',
                phone:'',
                appointmentDate:'',
                appointmentTime:{},
                // errors: [],
            }
        },
        methods: {
            onSubmit() {
                // if (this.name && this.email) {
                        
                // }

                // this.errors = [];

                // if (!this.name) {
                //     this.errors.push('Please enter your name!');
                // }
                // else if(this.name.length < 3) {
                //     this.errors.push('Too small name!');
                // }
                // else if(this.name.length > 255) {
                //     this.errors.push('Too large name!');
                // }
                // else if(!this.email) {
                //     this.errors.push('Please enter your email');                    
                // }
                // else if(!this.validEmail(this.email)) {
                //     this.errors.push('Valid email required.');
                // }
                // else if(!this.phone) {
                //     this.errors.push('Please enter your phone');
                // }
                // else if(!this.appointmentDate) {
                //     this.errors.push('Please enter appointment date');
                // }
                // else if(this.appointmentTime == " ") {
                //     this.errors.push('Please enter appointment time');
                // }
                
                    axios.post('http://localhost/live/test/skillTest/public/store', {
                        name: this.name,
                        email: this.email,
                        phone: this.phone,
                        appointment_date: this.appointmentDate,
                        appointment_time: this.appointmentTime
                    })
                        .then(response => alert("Success"))
                        .catch(error => this.errors.record(error.response.data));
                             

                // e.preventDefault();

            },
            validEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
            // format(date) {
            //     return moment(date).format('MM-DD-YYYY');
            // }
        },
        components: {
            Datepicker,
            VueTimepicker
        }
    }
    
</script>
